# MacOS things
.DS_Store

# build files, remove else build error, no need sync anyway
.pio/build/
.pio/libdeps/

# vscode, has absolute file location
.vscode/

# Documentation
Documentation/*
# Except for .pdf and .tex
!Documentation/RBR_VCU_2025.pdf
!Documentation/RBR_VCU_2025.tex