# MacOS things
.DS_Store

# build files, remove else build error, no need sync anyway
.pio/build/
.pio/libdeps/

# vscode, has absolute file location
.vscode/

# Latex Documentation (Depracated)
Documentation/*

# Ignore compiled documentation
docs